{$APP_DOMAIN} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy app:8080
    }

    handle /ws* {
        reverse_proxy app:8080
    }

    root * /srv
    try_files {path} /index.html
    file_server
}
